*{
    margin: 0;
    padding: 0;
}

.conteiner{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.navigation-left{
    display: flex;
    height: auto;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation li{
    margin-left: 20px;
}

.navigation-right{
    display: flex;
    height: auto;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
}

.SignIn{
    width: 100px;
    height: 40px;
    background-color: #0cf;
    border:0;
    color:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 20px;
}

.Box{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.signInBox{
    background-color: antiquewhite;
    width: 500px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  10px;
}

.centerBoxSignIn{
    display: flex;
    flex-direction: column;
}

