*{
    color:white;
}
.footer{
    background-color: #206efa;
    width: 100%;
    height: 250px;
}
.call{
    padding-left: 120px;
    padding-top: 20px;
    font-size: 30px;
}
.phone-num{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
}
.left h2{
    padding-top: 5px;
    padding-left: 105px;
}
.left p{
    padding-left: 100px;
}
.customers{
    padding-left: 650px;
    margin-top: -193px;
    list-style-type: none;
}
.cust-li{
    list-style: none;
    padding-left: 5px;
    font-size: 20px;
    padding-top: 10px;
}
.company{
    padding-left: 1100px;
    margin-top: -175px;
}
.com-li{
    list-style: none;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.social{
    font-size: 13px;
    padding-left: 1470px;
    margin-top: -145px;
}
.terms{
    padding-top: 130px;
    font-size: 13px;
    padding-left: 30px;
}